<a class="nav-item nav-link" href="{% url 'home' %}">
    Home <i class="fas fa-sign-out-alt"></i>
</a>
{% if user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'profile' user.username %}">
        {{user.username}} <i class="fas fa-user"></i>
    </a>
{% else %}
    <a class="nav-item nav-link" href="{% url 'login' %}">
        Log in <i class="fas fa-sign-in-alt"></i>
    </a>
    <a class="nav-item nav-link" href="{% url 'register' %}">
        Sign up <i class="fas fa-user-plus"></i>
    </a>
{% endif %}